@import url('https://fonts.googleapis.com/css?family=Lato:300, 400, 700|Roboto:300, 400, 500, 700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap"');

html {
  -webkit-font-smoothing: antialiased;
  overflow: auto;

  a {
    -webkit-font-smoothing: antialiased;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
  overflow-x: hidden;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif, 'Apple SD Gothic Neo', -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
    Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif, 'Apple SD Gothic Neo', -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
    Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  letter-spacing: 0.5px;
  font-weight: 400;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: 'Noto Sans KR', sans-serif, 'Apple SD Gothic Neo', Roboto, -apple-system, sans-serif, system-ui, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: 300;
  color: #5c5f73;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-family: 'Noto Sans KR', sans-serif, 'Apple SD Gothic Neo', Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
    Arial, sans-serif;
  color: #333;
  line-height: 1.9;
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none !important;
    color: #0c7bbe;
  }

  &:focus {
    outline: none;
  }

  &.text-gray {
    &.active,
    &:focus,
    &:hover {
      color: #8f92a1 !important;
    }
  }
}

:focus {
  outline: none;
}

hr {
  border-top: 1px solid #e6ecf5;
}

.text-link {
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.text-opacity {
  opacity: 0.85;
}

.text-white {
  color: #fff !important;
}

.text-dark {
  color: #333 !important;
}

.text-gray {
  color: #8f92a1 !important;
}

.text-primary {
  color: #7774e7 !important;
}

.text-success {
  color: #37c936 !important;
}

.text-info {
  color: #0f9aee !important;
}

.text-warning {
  color: #fc0 !important;
}

.text-danger {
  color: #ff3c7e !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #333 !important;
}

.bg-gray {
  background-color: #ebeef6 !important;
}

.bg-primary {
  background-color: #7774e7 !important;
}

.bg-info {
  background-color: #0f9aee !important;
}

.bg-success {
  background-color: #37c936 !important;
}

.bg-warning {
  background-color: #fc0 !important;
}

.bg-danger {
  background-color: #ff3c7e !important;
}

.bg-primary-inverse {
  background: #7774e7;
  background: rgba(119, 116, 231, 0.1);
}

.bg-success-inverse {
  background: #37c936;
  background: rgba(55, 201, 54, 0.1);
}

.bg-info-inverse {
  background: #0f9aee;
  background: rgba(15, 154, 238, 0.1);
}

.bg-warning-inverse {
  background: #fc0;
  background: rgba(255, 204, 0, 0.1);
}

.bg-danger-inverse {
  background: #ff3c7e;
  background: rgba(255, 60, 126, 0.1);
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.overlay-dark {
  position: relative;
  overflow: hidden;
  color: #ccc;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  p {
    color: #ccc;
  }

  &:before {
    content: '';
    background-color: #333;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 2;
  }

  > div {
    position: relative;
    z-index: 3;
  }
}

blockquote {
  border-left: 0;
  padding-left: 30px;
  position: relative;

  &:before {
    font-family: themify;
    content: '\E67F';
    position: absolute;
    left: 0;
    color: #333;
  }
}

.fade.in {
  opacity: 1;
}

.collapse.in {
  display: block;
}

iframe {
  border: 0;
}

@media only screen and (max-width: 767px) {
  iframe {
    min-height: 175px !important;
    height: auto;
  }
}

.ls-0 {
  letter-spacing: 0 !important;
}

.ls-0-5 {
  letter-spacing: 0.5px !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}

.ls-1-5 {
  letter-spacing: 1.5px !important;
}

.ls-2 {
  letter-spacing: 2px !important;
}

.ls-2-5 {
  letter-spacing: 2.5px !important;
}

.ls-3 {
  letter-spacing: 3px !important;
}

.ls-3-5 {
  letter-spacing: 3.5px !important;
}

.ls-4 {
  letter-spacing: 4px !important;
}

.ls-4-5 {
  letter-spacing: 4.5px !important;
}

.ls-5 {
  letter-spacing: 5px !important;
}

.ls-5-5 {
  letter-spacing: 5.5px !important;
}

.ls-6 {
  letter-spacing: 6px !important;
}

.ls-6-5 {
  letter-spacing: 6.5px !important;
}

.ls-7 {
  letter-spacing: 7px !important;
}

.ls-7-5 {
  letter-spacing: 7.5px !important;
}

.ls-8 {
  letter-spacing: 8px !important;
}

.ls-8-5 {
  letter-spacing: 8.5px !important;
}

.ls-9 {
  letter-spacing: 9px !important;
}

.ls-9-5 {
  letter-spacing: 9.5px !important;
}

.ls-10 {
  letter-spacing: 10px !important;
}

.ls-11 {
  letter-spacing: 11px !important;
}

.ls-12 {
  letter-spacing: 12px !important;
}

.ls-13 {
  letter-spacing: 13px !important;
}

.ls-14 {
  letter-spacing: 14px !important;
}

.ls-15 {
  letter-spacing: 15px !important;
}

.lh-0 {
  line-height: 0 !important;
}

.lh-0-5 {
  line-height: 0.5 !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-1-1 {
  line-height: 1.1 !important;
}

.lh-1-2 {
  line-height: 1.2 !important;
}

.lh-1-3 {
  line-height: 1.3 !important;
}

.lh-1-4 {
  line-height: 1.4 !important;
}

.lh-1-5 {
  line-height: 1.5 !important;
}

.lh-1-6 {
  line-height: 1.6 !important;
}

.lh-1-7 {
  line-height: 1.7 !important;
}

.lh-1-8 {
  line-height: 1.8 !important;
}

.lh-1-9 {
  line-height: 1.9 !important;
}

.lh-2 {
  line-height: 2 !important;
}

.lh-2-1 {
  line-height: 2.1 !important;
}

.lh-2-2 {
  line-height: 2.2 !important;
}

.lh-2-3 {
  line-height: 2.3 !important;
}

.lh-2-4 {
  line-height: 2.4 !important;
}

.lh-2-5 {
  line-height: 2.5 !important;
}

.lh-3 {
  line-height: 3 !important;
}

.lh-4 {
  line-height: 4 !important;
}

.font-size-8 {
  font-size: 8px !important;
}

.font-size-9 {
  font-size: 9px !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-11 {
  font-size: 11px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-17 {
  font-size: 17px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-19 {
  font-size: 19px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-21 {
  font-size: 21px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-23 {
  font-size: 23px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-25 {
  font-size: 25px !important;
}

.font-size-26 {
  font-size: 26px !important;
}

.font-size-27 {
  font-size: 27px !important;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-29 {
  font-size: 29px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.font-size-35 {
  font-size: 35px !important;
}

.font-size-40 {
  font-size: 40px !important;
}

.font-size-45 {
  font-size: 45px !important;
}

.font-size-50 {
  font-size: 50px !important;
}

.font-size-55 {
  font-size: 55px !important;
}

.font-size-60 {
  font-size: 60px !important;
}

.font-size-65 {
  font-size: 65px !important;
}

.font-size-70 {
  font-size: 70px !important;
}

.font-size-75 {
  font-size: 75px !important;
}

.font-size-80 {
  font-size: 80px !important;
}

.font-size-85 {
  font-size: 85px !important;
}

.font-size-90 {
  font-size: 90px !important;
}

.font-size-95 {
  font-size: 95px !important;
}

.font-size-100 {
  font-size: 100px !important;
}

.font-size-105 {
  font-size: 105px !important;
}

.font-size-110 {
  font-size: 110px !important;
}

.font-size-115 {
  font-size: 115px !important;
}

.font-size-120 {
  font-size: 120px !important;
}

.font-size-125 {
  font-size: 125px !important;
}

.font-size-130 {
  font-size: 130px !important;
}

.font-size-135 {
  font-size: 135px !important;
}

.font-size-140 {
  font-size: 140px !important;
}

.font-size-145 {
  font-size: 145px !important;
}

.font-size-150 {
  font-size: 150px !important;
}

.font-size-155 {
  font-size: 155px !important;
}

.font-size-160 {
  font-size: 160px !important;
}

.font-size-165 {
  font-size: 165px !important;
}

.font-size-170 {
  font-size: 170px !important;
}

.font-size-175 {
  font-size: 175px !important;
}

.font-size-180 {
  font-size: 180px !important;
}

.font-size-185 {
  font-size: 185px !important;
}

.font-size-190 {
  font-size: 190px !important;
}

.font-size-195 {
  font-size: 195px !important;
}

.font-size-200 {
  font-size: 200px !important;
}

@media only screen and (max-width: 767px) {
  .font-size-50,
  .font-size-55,
  .font-size-60,
  .font-size-65,
  .font-size-70,
  .font-size-75,
  .font-size-80,
  .font-size-85,
  .font-size-90,
  .font-size-95,
  .font-size-100,
  .font-size-105,
  .font-size-110,
  .font-size-115,
  .font-size-120,
  .font-size-125,
  .font-size-130,
  .font-size-135,
  .font-size-140,
  .font-size-145 {
    font-size: 45px !important;
  }

  .font-size-150,
  .font-size-155,
  .font-size-160,
  .font-size-165,
  .font-size-170,
  .font-size-175,
  .font-size-180,
  .font-size-185,
  .font-size-190,
  .font-size-195,
  .font-size-200 {
    font-size: 130px !important;
  }

  input {
    &.width-10,
    &.width-15,
    &.width-20,
    &.width-25,
    &.width-30,
    &.width-35,
    &.width-40,
    &.width-45,
    &.width-50,
    &.width-55,
    &.width-60,
    &.width-65,
    &.width-70,
    &.width-75,
    &.width-80,
    &.width-85,
    &.width-90,
    &.width-95 {
      width: 100% !important;
    }
  }

  p {
    &.width-10,
    &.width-15,
    &.width-20,
    &.width-25,
    &.width-30,
    &.width-35,
    &.width-40,
    &.width-45,
    &.width-50,
    &.width-55,
    &.width-60,
    &.width-65,
    &.width-70,
    &.width-75,
    &.width-80,
    &.width-85,
    &.width-90,
    &.width-95 {
      width: 100% !important;
    }
  }
}

.text-light {
  font-weight: 300 !important;
}

.text-normal {
  font-weight: 400 !important;
}

.text-semibold {
  font-weight: 500 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.display-block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.img-circle {
  border-radius: 50% !important;
}

.border {
  border: 1px solid #e6ecf5;

  &.top {
    border: 0 !important;
    border-top: 1px solid #e6ecf5 !important;
  }

  &.right {
    border: 0 !important;
    border-right: 1px solid #e6ecf5 !important;
  }

  &.bottom {
    border: 0 !important;
    border-bottom: 1px solid #e6ecf5 !important;
  }

  &.left {
    border: 0 !important;
    border-left: 1px solid #e6ecf5 !important;
  }
}

@media only screen and (max-width: 992px) {
  .border.border-hide-md {
    border: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .border.border-hide-sm {
    border: 0 !important;
  }
}

.no-border {
  border: 0 !important;
  border-radius: 0 !important;
}

@media only screen and (max-width: 767px) {
  .text-center-sm {
    text-align: center !important;
  }

  .text-left-sm {
    text-align: left !important;
  }

  .text-right-sm {
    text-align: right !important;
  }
}

.vertical-align {
  display: table;
  height: 100%;
  width: 100%;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.vertical-align-super {
  vertical-align: super;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-6 {
  border-radius: 6px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-round {
  border-radius: 50px !important;
}

.content-footer {
  padding: 0 30px;

  .footer {
    padding: 20px 0;
    font-size: 90%;
    border-top: 1px solid #e6ecf5;

    .go-right {
      float: right;
    }
  }
}

.modal-left .modal-dialog .modal-content,
.modal-right .modal-dialog .modal-content {
  height: 100%;
  border-radius: 0;
}

.modal-left .modal-dialog .modal-content .side-modal-wrapper,
.modal-right .modal-dialog .modal-content .side-modal-wrapper {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.modal-left .modal-dialog .modal-content .modal-footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}

.modal-right .modal-dialog {
  .modal-content .modal-footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
  }

  margin: 0 0 0 auto;
}

.modal-backdrop {
  z-index: 1040;
  background-color: #333;
}

@media only screen and (min-width: 767px) {
  .modal-sm {
    width: 350px;
  }
}

.modal-fs {
  .modal-dialog {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-width: none;

    .modal-content {
      height: 100%;
      border-radius: 0;
      background: #fff;
      background: hsla(0, 0%, 100%, 0.9);
    }
  }

  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 7px 10px;
    border: 1px solid #9ea0b1;
    border-radius: 50px;
    color: #9ea0b1;

    &:focus,
    &:hover {
      color: #333;
      text-decoration: none;
      border: 1px solid #333;
    }
  }
}

.modal-open {
  overflow: auto;
  padding-right: 0px !important;
}

button,
input,
textarea {
  outline: none;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border: 1px solid #e6ecf5;
  border-radius: 2px;
  box-shadow: none;
  height: 42px;
  font-size: 14px;
  color: #333;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: #e0e2e9;
  }

  &:focus {
    outline: 0 none;
    box-shadow: none;
    border-color: #3daef3;
  }

  &.input-sm {
    height: 30px;
  }

  &.input-lg {
    height: 50px;
  }

  &.error {
    border-color: #ff3c7e;
    background-color: #ffeff4;
  }

  &.valid {
    border-color: #37c936;
    background-color: #ebfaeb;
    color: #278d26;
  }
}

.has-success {
  .form-control {
    box-shadow: none;
    border-color: #37c936;

    &:focus {
      box-shadow: none;
      border-color: #37c936;
    }
  }

  .checkbox,
  .checkbox-inline,
  &.checkbox label .has-success.checkbox-inline label,
  .control-label,
  .help-block,
  .radio,
  .radio-inline,
  &.radio-inline label,
  &.radio label {
    color: #37c936;
  }
}

.has-warning {
  .form-control {
    box-shadow: none;
    border-color: #fc0;

    &:focus {
      box-shadow: none;
      border-color: #fc0;
    }
  }

  .checkbox,
  .checkbox-inline,
  &.checkbox label .has-warning.checkbox-inline label,
  .control-label,
  .help-block,
  .radio,
  .radio-inline,
  &.radio-inline label,
  &.radio label {
    color: #fc0;
  }
}

.has-error {
  .form-control {
    box-shadow: none;
    border-color: #ff3c7e;

    &:focus {
      box-shadow: none;
      border-color: #ff3c7e;
    }
  }

  .checkbox,
  .checkbox-inline,
  &.checkbox label .has-error.checkbox-inline label,
  .control-label,
  .help-block,
  .radio,
  .radio-inline,
  &.radio-inline label,
  &.radio label {
    color: #ff3c7e;
  }
}

textarea.form-control {
  min-height: 175px;
}

.input-icon {
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #e0e2e9;
  }

  .form-control {
    padding-left: 40px;
  }
}

.input-group-text {
  background-color: transparent;
  border: 1px solid #e6ecf5;
  color: #e0e2e9;
  border-radius: 0;
  border-right: 0;
  line-height: 1.8;

  .btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}

.label,
.tag {
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
}

.label-lg,
.tag-lg {
  font-size: 16px;
  padding: 6px 12px;
}

label {
  &.error {
    color: #ff3c7e;
  }

  &.success {
    color: #37c936;
  }
}

.label-primary {
  background-color: #f7f6fe;
  color: #7774e7;
}

.label-success {
  background-color: #ebfaeb;
  color: #37c936;
}

.label-info {
  background-color: #e5f4fd;
  color: #0f9aee;
}

.label-warning {
  background-color: #fffae6;
  color: #fc0;
}

.label-danger {
  background-color: #ffeff4;
  color: #ff3c7e;
}

.tag {
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.tag-primary {
  background-color: #7774e7;
  color: #fff;
}

.tag-success {
  background-color: #37c936;
  color: #fff;
}

.tag-info {
  background-color: #0f9aee;
  color: #fff;
}

.tag-warning {
  background-color: #fc0;
  color: #fff;
}

.tag-danger {
  background-color: #ff3c7e;
  color: #fff;
}

.card {
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid #e6ecf5;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;

  &.bg-danger,
  &.bg-info,
  &.bg-primary,
  &.bg-success,
  &.bg-warning {
    color: #e6e6e6;
  }

  &.bg-danger {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-info {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-primary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-success {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-warning {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-danger p,
  &.bg-info p,
  &.bg-primary p,
  &.bg-success p,
  &.bg-warning p {
    color: #e6e6e6;
  }

  .card-heading {
    padding: 15px 20px;
    position: relative;

    .card-title {
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: 15px 20px;
  }

  .card-footer {
    position: relative;
    padding: 10px 15px;
    min-height: 55px;
    background-color: transparent;

    .btn {
      margin: 0;
    }

    .btn-flat {
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .card-horizon {
    padding: 0;
    position: relative;

    .image-container {
      overflow: hidden;
      position: absolute;
      height: 100%;
      padding: 0;
      top: 0;
    }

    .card-body {
      position: relative;
    }

    .background-holder {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      z-index: 0;

      &.has-content {
        display: table;

        .content {
          display: table-cell;
          vertical-align: middle;
          padding: 0 15px;
        }
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    background: hsla(0, 0%, 100%, 0.85);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 767px) {
  .card .card-horizon .image-container {
    position: static;
  }
}

@media only screen and (max-width: 767px) {
  .card .card-horizon .background-holder {
    min-height: 200px;
  }
}

.card-block {
  padding: 30px;
}

.portlet {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  .portlet-item {
    list-style: none;
    padding: 18px 20px;

    > li {
      display: inline-block;
      margin-right: 3px;

      > a {
        margin-bottom: 0;
        margin-right: 0;
        padding: 5px 6px;
        font-size: 12px;
        line-height: 1;
      }
    }
  }

  .dropdown-menu {
    transform-origin: top right;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transition: transform 0.15s ease-out;
    -webkit-transition: transform 0.15s ease-out;
    -moz-transition: transform 0.15s ease-out;
    -o-transition: transform 0.15s ease-out;
    -ms-transition: transform 0.15s ease-out;
    display: block;
    margin: 0;
    border-radius: 0;
    left: auto;
    right: -10px;
  }

  .show .dropdown-menu {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

.card-title {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  color: #333;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-media {
  position: relative;

  img {
    width: 100%;
  }
}

.card-refresh {
  &:before {
    visibility: visible;
    opacity: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border: 3px solid #e6ecf5;
    border-top: 3px solid #7774e7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 3;
    animation: spin 1.2s linear infinite;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

a.card {
  display: block;

  &:focus,
  &:hover {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.075);
  }
}

@media only screen and (max-width: 767px) {
  .border.border-hide-sm {
    border: 0 !important;
  }
}

.no-border {
  border: 0 !important;
  border-radius: 0 !important;
}

@media only screen and (max-width: 767px) {
  .text-center-sm {
    text-align: center !important;
  }

  .text-left-sm {
    text-align: left !important;
  }

  .text-right-sm {
    text-align: right !important;
  }
}

.vertical-align {
  display: table;
  height: 100%;
  width: 100%;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.vertical-align-super {
  vertical-align: super;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-6 {
  border-radius: 6px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-round {
  border-radius: 50px !important;
}

.content-footer {
  padding: 0 30px;

  .footer {
    padding: 20px 0;
    font-size: 90%;
    border-top: 1px solid #e6ecf5;

    .go-right {
      float: right;
    }
  }
}

.slick-next,
.slick-prev {
  z-index: 10;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.slick-next:before,
.slick-prev:before {
  font-family: themify;
  font-size: 25px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}

.slick-next {
  right: 15px;

  &:before {
    content: '\E649';
  }
}

.slick-prev {
  left: 15px;

  &:before {
    content: '\E64A';
  }
}

.slick-dots {
  bottom: 10px;

  li {
    button:before {
      font-family: themify;
      content: '\E724';
      font-size: 16px;
      opacity: 0.5;
      color: #fff;
    }

    &.slick-active button:before {
      color: #fff;
      opacity: 1;
    }
  }
}

button {
  box-shadow: none;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }

  &.active:focus,
  &:active:focus {
    outline: none;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn {
  cursor: pointer;
  font-family: '나눔고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Apple SD Gothic Neo', Roboto, -apple-system, NanumGothic, Dotum, '돋움',
    sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;

  &.dropdown-toggle {
    margin-bottom: 0;
  }

  &:focus {
    box-shadow: none;
  }

  &.active:focus,
  &:active:focus,
  &:focus {
    outline: none;
  }
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #d4deee;
  font-weight: 500;

  &.active {
    &:focus,
    &:hover {
      color: #333;
      background-color: #edf2f8;
      border-color: #edf2f8;
    }
  }

  &:active {
    color: #333;
    background-color: #edf2f8;
    border-color: #edf2f8;

    &:focus,
    &:hover {
      color: #333;
      background-color: #edf2f8;
      border-color: #edf2f8;
    }
  }

  &:focus,
  &:hover {
    color: #333;
    background-color: #edf2f8;
    border-color: #edf2f8;
  }
}

.btn-icon {
  padding: 10px 11px;
}

.btn-facebook {
  background-color: #3b579d;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #5674bf;
    border-color: #5674bf;
    color: #fff;
  }
}

.btn-twitter {
  background-color: #2caae1;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #62c0e9;
    border-color: #62c0e9;
    color: #fff;
  }
}

.btn-instagram {
  background-color: #5d4a3b;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #826853;
    border-color: #826853;
    color: #fff;
  }
}

.btn-google-plus {
  background-color: #dc4a38;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #e5796c;
    border-color: #e5796c;
    color: #fff;
  }
}

.btn-dropbox {
  background-color: #007ee6;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #249cff;
    border-color: #249cff;
    color: #fff;
  }
}

.btn-dribbble {
  background-color: #ea4c89;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #f083ad;
    border-color: #f083ad;
    color: #fff;
  }
}

.btn-yahoo {
  background-color: #7b0099;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #ac00d6;
    border-color: #ac00d6;
    color: #fff;
  }
}

.btn-sound-cloud {
  background-color: #ff6a22;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #ff935f;
    border-color: #ff935f;
    color: #fff;
  }
}

.btn-html5 {
  background-color: #f16528;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #f58e61;
    border-color: #f58e61;
    color: #fff;
  }
}

.btn-wordpress {
  background-color: #0087be;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #00b2fb;
    border-color: #00b2fb;
    color: #fff;
  }
}

.btn-tumblr {
  background-color: #36465d;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #4c6384;
    border-color: #4c6384;
    color: #fff;
  }
}

.btn-skype {
  background-color: #00aaf1;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #2fc2ff;
    border-color: #2fc2ff;
    color: #fff;
  }
}

.btn-youtube {
  background-color: #de2825;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #e65c5a;
    border-color: #e65c5a;
    color: #fff;
  }
}

.btn-vimeo {
  background-color: #1bb6ec;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #53c8f1;
    border-color: #53c8f1;
    color: #fff;
  }
}

.btn-linkedin {
  background-color: #0177b5;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #019ff2;
    border-color: #019ff2;
    color: #fff;
  }
}

.btn-pinterest {
  background-color: #c9181f;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #e7373e;
    border-color: #e7373e;
    color: #fff;
  }
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 11px 30px;
  font-size: 13px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 7px 12px;
}

.btn-xs {
  font-size: 9px;
  padding: 5px 10px;
}

.btn-rounded {
  border-radius: 50px;
}

.btn-block {
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-group {
  .btn {
    padding: 10px 14px;
    margin-right: 0;
  }

  &.btn-group-vertical .btn {
    margin-bottom: 0;
  }
}

.modal.fade {
  .modal-dialog {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transform: translateX(0) translateY(0);
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
  }

  &.slide-in-right {
    .modal-dialog {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -o-transform: translateX(100%);
      -ms-transform: translateX(100%);
    }

    &.show .modal-dialog {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
    }
  }

  &.slide-in-left {
    .modal-dialog {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
    }

    &.show .modal-dialog {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
    }
  }

  &.modal-fs {
    .modal-dialog,
    &.show .modal-dialog {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
    }
  }
}

.modal-header {
  padding: 15px 20px;
  padding-bottom: 5px;
  border-bottom: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

.modal-body {
  padding: 15px 20px;
}

.modal-footer {
  padding: 15px 20px;
  border-top: 1px solid #e6ecf5;
  text-align: left;

  .btn {
    margin-bottom: 0;

    + .btn {
      margin-left: 0;
    }
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-left .modal-dialog,
.modal-right .modal-dialog {
  width: 400px;
  height: 100%;
  margin: 0 auto 0 0;
}

@media only screen and (max-width: 767px) {
  .modal-left .modal-dialog,
  .modal-right .modal-dialog {
    width: 260px;
  }
}

.modal-left .modal-dialog .modal-content,
.modal-right .modal-dialog .modal-content {
  height: 100%;
  border-radius: 0;
}

.modal-left .modal-dialog .modal-content .side-modal-wrapper,
.modal-right .modal-dialog .modal-content .side-modal-wrapper {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.modal-left .modal-dialog .modal-content .modal-footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}

.modal-right .modal-dialog {
  .modal-content .modal-footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
  }

  margin: 0 0 0 auto;
}

.modal-backdrop {
  z-index: 1040;
  background-color: #333;
}

@media only screen and (min-width: 767px) {
  .modal-sm {
    width: 350px;
  }
}

.modal-fs {
  .modal-dialog {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-width: none;

    .modal-content {
      height: 100%;
      border-radius: 0;
      background: #fff;
      background: hsla(0, 0%, 100%, 0.9);
    }
  }

  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 7px 10px;
    color: #9ea0b1;

    &:focus,
    &:hover {
      color: #333;
      text-decoration: none;
    }
  }
}

button,
input,
textarea {
  outline: none;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border: 1px solid #e6ecf5;
  border-radius: 2px;
  box-shadow: none;
  height: 42px;
  font-size: 14px;
  color: #333;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: #e0e2e9;
  }

  &:focus {
    outline: 0 none;
    box-shadow: none;
    border-color: #3daef3;
  }

  &.input-sm {
    height: 30px;
  }

  &.input-lg {
    height: 50px;
  }

  &.error {
    border-color: #ff3c7e;
    background-color: #ffeff4;
  }

  &.valid {
    border-color: #37c936;
    background-color: #ebfaeb;
    color: #278d26;
  }
}

.has-success {
  .form-control {
    box-shadow: none;
    border-color: #37c936;

    &:focus {
      box-shadow: none;
      border-color: #37c936;
    }
  }

  .checkbox,
  .checkbox-inline,
  &.checkbox label .has-success.checkbox-inline label,
  .control-label,
  .help-block,
  .radio,
  .radio-inline,
  &.radio-inline label,
  &.radio label {
    color: #37c936;
  }
}

.has-warning {
  .form-control {
    box-shadow: none;
    border-color: #fc0;

    &:focus {
      box-shadow: none;
      border-color: #fc0;
    }
  }

  .checkbox,
  .checkbox-inline,
  &.checkbox label .has-warning.checkbox-inline label,
  .control-label,
  .help-block,
  .radio,
  .radio-inline,
  &.radio-inline label,
  &.radio label {
    color: #fc0;
  }
}

.has-error {
  .form-control {
    box-shadow: none;
    border-color: #ff3c7e;

    &:focus {
      box-shadow: none;
      border-color: #ff3c7e;
    }
  }

  .checkbox,
  .checkbox-inline,
  &.checkbox label .has-error.checkbox-inline label,
  .control-label,
  .help-block,
  .radio,
  .radio-inline,
  &.radio-inline label,
  &.radio label {
    color: #ff3c7e;
  }
}

textarea.form-control {
  min-height: 175px;
}

.input-icon {
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #e0e2e9;
  }

  .form-control {
    padding-left: 40px;
  }
}

.input-group-text {
  background-color: transparent;
  border: 1px solid #e6ecf5;
  color: #e0e2e9;
  border-radius: 0;
  border-right: 0;
  line-height: 1.8;

  .btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}

.timepicker-input .input-group-text {
  cursor: pointer;
}

.checkbox {
  padding: 7px 0;
  min-height: auto;

  input[type='checkbox'] {
    margin: 0;
    display: none;
    width: 22px;

    + label {
      padding-left: 0;

      &:before {
        content: '';
        width: 22px;
        height: 22px;
        display: inline-block;
        border: 2px solid #e6ecf5;
        border-radius: 3px;
        margin-right: 10px;
        font-size: 15px;
        font-family: themify;
        font-weight: 400;
        line-height: 19px;
        vertical-align: bottom;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
      }
    }

    &:checked + label:before {
      content: '\E64C';
      color: #0f9aee;
    }
  }

  &.checkbox-primary input[type='checkbox']:checked + label:before {
    content: '\E64C';
    color: #7774e7;
  }

  &.checkbox-success input[type='checkbox']:checked + label:before {
    content: '\E64C';
    color: #37c936;
  }

  &.checkbox-warning input[type='checkbox']:checked + label:before {
    content: '\E64C';
    color: #fc0;
  }

  &.checkbox-danger input[type='checkbox']:checked + label:before {
    content: '\E64C';
    color: #ff3c7e;
  }
}

.radio {
  padding: 7px 0;
  min-height: auto;

  input[type='radio'] {
    margin: 0;
    display: none;
    width: 22px;

    + label {
      padding-left: 0;

      &:before {
        content: '';
        width: 22px;
        height: 22px;
        display: inline-block;
        border: 2px solid #e6ecf5;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 14px;
        font-family: FontAwesome;
        font-weight: 400;
        line-height: 19px;
        vertical-align: bottom;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
      }
    }

    &:checked + label:before {
      content: '\F111';
      color: #0f9aee;
    }
  }

  &.radio-primary input[type='radio']:checked + label:before {
    content: '\F111';
    color: #7774e7;
  }

  &.radio-success input[type='radio']:checked + label:before {
    content: '\F111';
    color: #37c936;
  }

  &.radio-warning input[type='radio']:checked + label:before {
    content: '\F111';
    color: #fc0;
  }

  &.radio-danger input[type='radio']:checked + label:before {
    content: '\F111';
    color: #ff3c7e;
  }
}

.checkbox label,
.radio label {
  cursor: pointer;
}

.checkbox-inline,
.radio-inline {
  margin-right: 15px;
  margin-top: 0;
  display: inline-block;
}

.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline {
  margin-top: 0;
  margin-left: 0;
}

.toggle-checkbox {
  input[type='checkbox'] {
    opacity: 0;
    position: absolute;

    + label {
      position: relative;
      display: inline-block;
      transition: 0.4s ease;
      -webkit-transition: 0.4s ease;
      -moz-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      -ms-transition: 0.4s ease;
      height: 30px;
      width: 50px;
      border: 1px solid #e6ecf5;
      border-radius: 60px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        display: block;
        transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
        -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
        -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
        -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
        -ms-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
        height: 30px;
        width: 50px;
        top: 0;
        left: 0;
        border-radius: 30px;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05);
        transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        -ms-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        background: #f7f7f7;
        height: 28px;
        width: 28px;
        top: 0;
        left: 0;
        border-radius: 60px;
      }
    }

    &:checked + label {
      &:before {
        background: #0f9aee;
        transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
        -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
        -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
        -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
        -ms-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
      }

      &:after {
        left: 24px;
      }
    }
  }

  &.toggle-sm input[type='checkbox'] {
    + label {
      height: 20px;
      width: 35px;

      &:before {
        height: 20px;
        width: 35px;
      }

      &:after {
        height: 19px;
        width: 19px;
      }
    }

    &:checked + label:after {
      left: 16px;
    }
  }

  &.toggle-primary input[type='checkbox']:checked + label:before {
    background: #7774e7;
  }

  &.toggle-success input[type='checkbox']:checked + label:before {
    background: #37c936;
  }

  &.toggle-warning input[type='checkbox']:checked + label:before {
    background: #fc0;
  }

  &.toggle-danger input[type='checkbox']:checked + label:before {
    background: #ff3c7e;
  }
}

.list {
  position: relative;

  li {
    position: relative;
    padding-bottom: 10px;
  }

  &.tick {
    list-style: none;
    padding-left: 0;

    > li {
      padding-left: 30px;

      &:before {
        content: '\E64C';
        font-family: themify;
        position: absolute;
        left: 0;
      }
    }
  }

  &.star {
    list-style: none;
    padding-left: 0;

    > li {
      padding-left: 30px;

      &:before {
        content: '\E60A';
        font-family: themify;
        position: absolute;
        left: 0;
      }
    }
  }

  &.dash {
    list-style: none;
    padding-left: 0;

    > li {
      padding-left: 30px;

      &:before {
        content: '-';
        position: absolute;
        left: 10px;
      }
    }
  }

  &.bullet {
    list-style: none;
    padding-left: 0;

    > li {
      padding-left: 30px;

      &:before {
        content: '\E724';
        font-family: themify;
        position: absolute;
        left: 0;
      }
    }
  }

  &.arrow {
    list-style: none;
    padding-left: 0;

    > li {
      padding-left: 30px;

      &:before {
        content: '\E649';
        font-family: themify;
        position: absolute;
        font-size: 10px;
        left: 0;
        top: 4px;
      }
    }
  }

  &.decimal {
    list-style-type: decimal;
    padding-left: 20px;

    li {
      padding-left: 10px;
    }
  }

  &.upper-roman {
    list-style-type: upper-roman;
    padding-left: 20px;

    li {
      padding-left: 10px;
    }
  }

  &.lower-alpha {
    list-style-type: lower-alpha;
    padding-left: 20px;

    li {
      padding-left: 10px;
    }
  }

  &.bullet-primary > li:before {
    color: #7774e7;
  }

  &.bullet-info li:before {
    color: #0f9aee;
  }

  &.bullet-success li:before {
    color: #37c936;
  }

  &.bullet-warning li:before {
    color: #fc0;
  }

  &.bullet-danger li:before {
    color: #ff3c7e;
  }

  &.bullet-white li:before {
    color: #fff;
  }

  &.bullet-dark li:before {
    color: #333;
  }
}

.list-info {
  margin-bottom: 0;
  position: relative;
  padding-left: 0;
  list-style: none;
  display: block;

  > li {
    display: block;

    > a {
      display: block;
      position: relative;
      padding: 12px 0;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  .thumb-img {
    line-height: 40px;
    width: 40px;
    text-align: center;
    font-size: 17px;
    border-radius: 50px;
    float: left;
  }

  img.thumb-img {
    height: 40px;
    width: 40px;
  }

  .info {
    padding-left: 55px;
    height: auto;
    position: relative;

    .title {
      display: block;
      color: #333;
      line-height: 2.6;

      &.pdd-top-5 {
        padding-top: 7px !important;
      }
    }

    .sub-title {
      display: block;
      font-size: 12px;
      color: #b4b7c8;
      max-width: 90%;
    }

    .float-object {
      position: absolute;
      right: 15px;
      color: #333;
      top: 50%;
      font-size: 12px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }
  }
}

.list-members {
  display: inline-block;
  margin-bottom: 0;
  overflow: hidden;

  > li {
    float: left;

    > {
      a img,
      img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        overflow: hidden;
        border: 2px solid #fff;
        display: block;
      }
    }

    &.all-members {
      border-radius: 100%;

      > a {
        width: 35px;
        line-height: 35px;
        display: block;
        text-align: center;
        border-radius: 100%;
        background-color: #f6f7fb;
        color: #333;
      }
    }

    &.add-member > a {
      border: 2px dashed #e6ecf5;
      width: 35px;
      line-height: 30px;
      display: block;
      text-align: center;
      border-radius: 100%;
      color: #c2d0e6;
      margin-left: 5px;
    }
  }
}

.list-link {
  margin-bottom: 0;

  li {
    padding: 10px 0;

    a {
      color: #333;

      &:focus,
      &:hover {
        color: #333;
        text-decoration: none;
      }
    }
  }
}

.status {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50px;
  border: 3px solid;
  border-color: #e6ecf5;
  position: absolute;
  top: 8px;
  left: 0;

  &.online,
  &.success {
    border-color: #37c936;
  }

  &.danger,
  &.no-disturb {
    border-color: #ff3c7e;
  }

  &.away,
  &.warning {
    border-color: #fc0;
  }

  &.info {
    border-color: #0f9aee;
  }

  &.primary {
    border-color: #7774e7;
  }
}

.label,
.tag {
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
}

.label-lg,
.tag-lg {
  font-size: 16px;
  padding: 6px 12px;
}

label {
  &.error {
    color: #ff3c7e;
  }

  &.success {
    color: #37c936;
  }
}

.label-primary {
  background-color: #f7f6fe;
  color: #7774e7;
}

.label-success {
  background-color: #ebfaeb;
  color: #37c936;
}

.label-info {
  background-color: #e5f4fd;
  color: #0f9aee;
}

.label-warning {
  background-color: #fffae6;
  color: #fc0;
}

.label-danger {
  background-color: #ffeff4;
  color: #ff3c7e;
}

.tag {
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.tag-primary {
  background-color: #7774e7;
  color: #fff;
}

.tag-success {
  background-color: #37c936;
  color: #fff;
}

.tag-info {
  background-color: #0f9aee;
  color: #fff;
}

.tag-warning {
  background-color: #fc0;
  color: #fff;
}

.tag-danger {
  background-color: #ff3c7e;
  color: #fff;
}

.card {
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid #e6ecf5;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;

  &.bg-danger,
  &.bg-info,
  &.bg-primary,
  &.bg-success,
  &.bg-warning {
    color: #e6e6e6;
  }

  &.bg-danger {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-info {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-primary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-success {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-warning {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }

  &.bg-danger p,
  &.bg-info p,
  &.bg-primary p,
  &.bg-success p,
  &.bg-warning p {
    color: #e6e6e6;
  }

  .card-heading {
    padding: 15px 20px;
    position: relative;

    .card-title {
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: 15px 20px;
  }

  .card-footer {
    position: relative;
    padding: 10px 15px;
    min-height: 55px;
    background-color: transparent;

    .btn {
      margin: 0;
    }

    .btn-flat {
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .card-horizon {
    padding: 0;
    position: relative;

    .image-container {
      overflow: hidden;
      position: absolute;
      height: 100%;
      padding: 0;
      top: 0;
    }

    .card-body {
      position: relative;
    }

    .background-holder {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      z-index: 0;

      &.has-content {
        display: table;

        .content {
          display: table-cell;
          vertical-align: middle;
          padding: 0 15px;
        }
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    background: hsla(0, 0%, 100%, 0.85);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 767px) {
  .card .card-horizon .image-container {
    position: static;
  }
}

@media only screen and (max-width: 767px) {
  .card .card-horizon .background-holder {
    min-height: 350px;
  }
}

.card-block {
  padding: 30px;
}

.portlet {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  .portlet-item {
    list-style: none;
    padding: 18px 20px;

    > li {
      display: inline-block;
      margin-right: 3px;

      > a {
        margin-bottom: 0;
        margin-right: 0;
        padding: 5px 6px;
        font-size: 12px;
        line-height: 1;
      }
    }
  }

  .dropdown-menu {
    -webkit-transform-origin: top right;
    transform-origin: top right;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transition: transform 0.15s ease-out;
    -webkit-transition: transform 0.15s ease-out;
    -moz-transition: transform 0.15s ease-out;
    -o-transition: transform 0.15s ease-out;
    -ms-transition: transform 0.15s ease-out;
    display: block;
    margin: 0;
    border-radius: 0;
    left: auto;
    right: -10px;
  }

  .show .dropdown-menu {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

.card-title {
  font-family: '나눔고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Apple SD Gothic Neo', Roboto, -apple-system, NanumGothic, Dotum, '돋움',
    sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
  color: #333;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-media {
  position: relative;

  img {
    width: 100%;
  }
}

.card-refresh {
  &:before {
    visibility: visible;
    opacity: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border: 3px solid #e6ecf5;
    border-top: 3px solid #7774e7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 3;
    -webkit-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

a.card {
  display: block;

  &:focus,
  &:hover {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.075);
  }
}

.page-title {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    font-size: 20px;
    font-family: '나눔고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Apple SD Gothic Neo', Roboto, -apple-system, NanumGothic, Dotum, '돋움',
      sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.white-space-normal {
  white-space: normal;
}
