.bg-grey-lighten-5 {
  background-color: #fafafa;
}

.bg-grey-lighten-4 {
  background-color: #f5f5f5;
}

.bg-grey-lighten-3 {
  background-color: #eeeeee;
}

.bg-grey-lighten-2 {
  background-color: #e0e0e0;
}

.bg-grey-lighten-1 {
  background-color: #bdbdbd;
}

.bg-light-gray {
  background-color: #f5f5f5 !important;
}

.bg-apricot {
  background-color: #ffe0b3;
}

.bg-aliceblue {
  background-color: aliceblue !important;
}

.bg-lightblue {
  background-color: lightblue !important;
}

.bg-darkseagreen {
  background-color: darkseagreen !important;
}

.bg-bisque {
  background-color: bisque !important;
}

.bg-gray {
  background-color: gray !important;
}

.bg-whitesmoke {
  background-color: whitesmoke !important;
}

.bg-f8 {
  background-color: #f8f8f8 !important;
}

.bg-gainsboro {
  background-color: gainsboro;
}

.bg-black {
  background-color: #333 !important;
}

.bg-blue {
  background-color: cornflowerblue !important;
}

.bg-green {
  background-color: #64c5b1 !important;
}