@charset "UTF-8";

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;

  span {
    font-size: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #7b5640;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
    color: white;

    &::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 100%;
      z-index: -1;
      border-left: 3px solid #666666;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #666666;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0px;
      top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid #666666;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #666666;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 100%;
      z-index: -1;
      border-left: 3px solid #666666;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #666666;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0px;
      top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid #666666;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #666666;
    }
  }
}

[v-cloak] {
  display: none;
}

blockquote:before {
  content: '' !important;
}

.google-form-container {
  position: relative;
  padding-bottom: 200%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-container {
  position: relative;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-container-16x9 {
  padding-bottom: 56.25%;
}

.video-container-4x3 {
  padding-bottom: 75%;
}

.none-background {
  background-color: rgba(255, 255, 255, 0) !important;
}

.btn-green {
  background-color: darkseagreen;
}

.btn-kakaotalk {
  background-color: #fae100;
  color: #3c1e1e;

  &:hover,
  &:focus {
    background-color: #faefa3;
    border-color: #faefa3;
    color: #3c1e1e;
  }
}

.btn-github {
  background-color: #444;
  color: white !important;

  &:hover {
    background-color: #555;
    color: white !important;
  }
}

.btn-slack {
  background-color: #56b68b;
  color: white;
}

.line-height-45 {
  line-height: 45px;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-bottom-radius {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.border-radius-none {
  border-radius: 0 !important;
}

.card-with-top-border-dark {
  border-top: 6px solid #424242 !important;
}

.border-top-gainsboro {
  border-top: 1px solid gainsboro;
}

.border-bottom-gainsboro {
  border-bottom: 1px solid gainsboro;
}

.border-left-5-gray {
  border-left: 5px solid gray;
}

.border-left-5-green {
  border-left: 5px solid #37c936;
}

.border-left-5-gainsboro {
  border-left: 5px solid gainsboro;
}

.border-left-5-yellow {
  border-left: 5px solid #ffcc00;
}

.border-left-5-powderblue {
  border-left: 5px solid powderblue;
}

.border-left-1 {
  border-left: 1px solid;
}

.border-left-2 {
  border-left: 2px solid;
}

.border-left-3 {
  border-left: 3px solid;
}

.border-left-4 {
  border-left: 4px solid;
}

.border-left-5 {
  border-left: 5px solid;
}

.border-radius-btm-round {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-style-none {
  list-style: none !important;
}

.z-1 {
  z-index: 1 !important;
}

.z-10 {
  z-index: 10 !important;
}

.z-800 {
  z-index: 800 !important;
}

.z-1000 {
  z-index: 1000 !important;
}

.tag-gainsboro {
  background-color: gainsboro;
  color: #fff;
}

.tag-yellow {
  background-color: #fc0;
  color: #fff;
}

.tag-success {
  background-color: #37c936;
  color: #fff;
}

.tag-gray {
  background-color: gray;
  color: #fff;
}

.visibility-hidden {
  visibility: hidden !important;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #2299dd;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.previous-navigation {
  z-index: 800;
  top: 17px;
  left: 20px;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.label-badge {
  border-radius: 50px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}

[data-loader='circle-side'] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite 0.95s linear;
  -moz-animation: circle infinite 0.95s linear;
  -o-animation: circle infinite 0.95s linear;
  animation: circle infinite 0.95s linear;
  border: 2px solid #333;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}

[data-loader='circle-side'] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite 0.95s linear;
  -moz-animation: circle infinite 0.95s linear;
  -o-animation: circle infinite 0.95s linear;
  animation: circle infinite 0.95s linear;
  border: 2px solid #333;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.CodeMirror {
  font-family: '나눔고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Apple SD Gothic Neo', Roboto, -apple-system, NanumGothic, Dotum, '돋움',
    sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif !important;
}

.cursor-wait {
  cursor: wait !important;
}

.cursor-disabled {
  pointer-events: none;
}

.shadow-md {
  box-shadow: 0 0.425rem 0.7rem rgba(0, 0, 0, 0.13) !important;
}

:root {
  --mdc-theme-primary: #333 !important;
  --mdc-theme--primary-bg: #333 !important;
  --mdc-theme-on-primary: #fff !important;
  --mdc-theme-secondary: #0091ea !important;
  --mdc-theme--secondary-bg: #fff !important;
  --mdc-theme-on-secondary: #fff !important;
  --mdc-theme--surface: #666 !important;
  --mdc-theme--on-surface: powderblue !important;
  --mdc-theme--background: #333 !important;
}

.v-snack {
  bottom: -5px !important;
}

.line-clamp-inherit {
  -webkit-line-clamp: inherit !important;
}

.dz-preview {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.mobile-view {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .mobile-view {
    display: block !important;
  }

  .desktop-view {
    display: none !important;
  }
}

.max-width-md {
  max-width: 960px;
}

.max-width-ms {
  max-width: 600px;
}

.syllabus-cover {
  background-size: cover !important;
  height: 100vh;
  width: 100vw;
  margin: -95px -15px -15px -15px;
}

.cover-content {
  position: absolute;
  max-width: 60%;
  left: 50%;
  top: 35%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
}

.comment {
  border-bottom: none !important;
}

.zigzag {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3.7;
}

.zigzag.large {
  background: #ffffff;
  padding: 0 10px;
}

.zigzag.medium {
  background: #ffffff;
  width: 6%;
  margin: 0 auto;
}

.button {
  .zigzag.large {
    position: absolute;
    left: 50%;
    margin-left: -28px;
  }
}

.divider-m {
  .zigzag.medium {
    stroke: #333;
    stroke-width: 4.3;
  }
}

.divider {
  .zigzag.large {
    stroke: #333;
    stroke-width: 4.3;
  }
}

.divider-line.button {
  &:before {
    background: #efefef;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.ribbon-no-mrg {
  margin-left: -40px;
  margin-right: -40px;
}

.margin-center {
  margin: 0 auto;
}

.bottom-content-viewer-btn-container {
  height: 30px;
}

#markdown-help-modal {
  .ribbon-no-mrg {
    margin-left: 0;
    margin-right: 0;
  }
}

.banner-photo-example-card {
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.z-1 {
  z-index: 1;
}

.syllabus-edit-btn {
  bottom: 80px;
  right: 20px;
  padding: 15px;
  z-index: 1001;
  font-size: 15px;
  width: 50px;
  height: 50px;
}

.banner-card {
  height: 150px;
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.highlight-underline {
  box-shadow: inset 0 -12px 0 rgba(159, 242, 241, 0.43);
}

.vertical-divider {
  &:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #333;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: -3px;
  }
  position: absolute;
  border-right: 1px solid #666;
  left: 50%;
  height: calc(100% + 40px);
  top: 70px;
}

.v-list--three-line {
  .v-list-item {
    .v-list-item__subtitle {
      -webkit-line-clamp: 10;
    }
  }
}

.v-list-item--three-line {
  .v-list-item__subtitle {
    -webkit-line-clamp: 10;
  }
}

.contents-img-wrapper {
  max-width: 600px;
}

.syllabus-banner-area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #333;
  position: relative;
  z-index: 0;
  &:before {
    content: '';
    background: url('/images/pages/course/syllabus/banner_bg.png') no-repeat scroll center bottom;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    top: 0;
  }
  .syllabus-banner-img {
    position: relative;
    z-index: 1;
    .line {
      position: absolute;
      z-index: -1;
      height: 100%;
    }
    .line.line_one {
      left: -40px;
      top: -95px;
    }
    .line.line_two {
      left: 80px;
      bottom: -138px;
      opacity: 0.4;
    }
    .line.line_three {
      right: 93px;
      top: -160px;
      opacity: 0.4;
    }
  }
}

.cursor-disabled {
  pointer-events: none;
}

.top-content-editor-btn-container {
  top: -50px;
}

.session-description-modal-card-mobile-container {
  display: none;
}

.unit-border-image {
  position: relative;
  .unit-border {
    height: 100%;
  }
}

.unit-border {
  border-left: 1px solid #333;
  height: calc(100% + 40px);
  width: 0px;
  position: absolute;
  left: -21.5px;
  top: 10px;
}

.unit-border-vertical-connect {
  border-left: 1px solid #333;
  height: 300px;
  width: 0px;
  position: absolute;
  left: -21.5px;
  top: 300px;
}

.curriculum-unit {
  max-width: 350px;
  img {
    max-height: 300px;
    max-width: 250px;
    margin-bottom: 16px;
  }
  h3 {
    &::before {
      position: absolute;
      content: '';
      left: -26px;
      top: 10px;
      width: 10px;
      height: 10px;
      background-color: #333;
      border-radius: 5px;
    }
  }
}

.card-with-top-border {
  border-top: 12px solid #333 !important;
}

@media screen and (min-width: 800px) {
  .fixed-position {
    position: fixed;
    top: 80px;
  }
  .left-25 {
    left: 25.5%;
  }
}
@media only screen and (max-width: 767px) {
  .cover-content {
    top: 50% !important;
  }
  .back-to-session-navigation {
    h4.title {
      display: none !important;
    }
  }
  .top-apply-table {
    display: none !important;
  }
  .session-description-desktop-card-mobile-container {
    display: none;
  }
  .session-description-modal-card-mobile-container {
    display: block;
  }
}

@media (max-width: 1199px) {
  .syllabus-banner-area {
    .syllabus-banner-img {
      img {
        max-width: 100%;
      }
      padding-right: 20px;
    }
  }
}

@media (max-width: 991px) {
  .syllabus-banner-area {
    min-height: auto;
    padding: 150px 0px 100px;
    .syllabus-banner-img {
      padding-right: 0;
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 600px) {
  .vertical-divider {
    display: none;
  }
}

@media (max-width: 767px) {
  #session-apply-list-desktop-container {
    display: none;
  }
  #session-apply-list-mobile-container {
    display: block;
    .owl-carousel {
      .owl-dots {
        position: relative;
        bottom: 33px;
      }
      button.owl-prev {
        left: -40px;
        position: absolute;
        bottom: 50% !important;
        width: 30px;
        height: 30px;
        line-height: 1.6rem !important;
        border-radius: 100% !important;
        span {
          font-size: 25px !important;
          color: gray !important;
        }
      }
      button.owl-next {
        right: -40px !important;
      }
    }
    .owl-theme {
      .owl-nav {
        [class*='owl-'] {
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
      .owl-dots {
        .owl-dot {
          span {
            width: 10px;
            height: 10px;
            margin: 3px 5px;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 100%;
          }
        }
      }
    }
  }
  .owl-carousel {
    button.owl-next {
      position: absolute;
      bottom: 50% !important;
      width: 30px;
      height: 30px;
      line-height: 1.6rem !important;
      border-radius: 100% !important;
      right: -35px;
      span {
        font-size: 25px !important;
        color: gray !important;
      }
    }
    button.owl-prev {
      left: -35px;
    }
  }
}

@media (min-width: 600px) {
  .curriculum-title {
    margin-bottom: 100px;
  }
  .unit-border.connect {
    display: none;
  }
}

@media (max-width: 600px) {
  .justify-xs-center {
    justify-content: center;
  }
  .text-xs-center {
    text-align: center;
  }
  .unit-border-image.connect {
    position: static;
    .unit-border {
      height: calc(100% + 80px);
    }
  }
  .curriculum-container {
    .left-column-container {
      padding-bottom: 0;
    }
    .right-column-container {
      padding-top: 0;
      .unit-border.last {
        display: none;
      }
    }
  }
}

.d-inherit {
  display: inherit;
}

.bottom-app-bar-height {
  height: 56px;
}

.align-self-flex-end {
  align-self: flex-end;
}

.bg-banner {
  background-color: #333;
  height: 120px;
}

.bg-banner-mobile {
  background-color: #333;
  min-height: 100px;
}

.page-title {
  span {
    &.v-btn__content {
      margin-bottom: 0 !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-title {
    padding-left: 20px;
    top: 40px;
    position: relative;
  }

  .page-body {
    position: relative;
    bottom: 80px;
  }
}

.highlight-underline {
  box-shadow: inset 0 -12px 0 rgba(159, 242, 241, 0.43);
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-with-top-border {
  border-top: 12px solid #333 !important;
}

.border-top-8 {
  border-top: 8px solid #333 !important;
}
