.z-1 {
  z-index: 1 !important;
}

.z-10 {
  z-index: 10 !important;
}

.z-800 {
  z-index: 800 !important;
}

.z-1000 {
  z-index: 1000 !important;
}

.pdd-0 {
  padding: 0px !important;
}

.pdd-left-0 {
  padding-left: 0 !important;
}

.pdd-right-0 {
  padding-right: 0 !important;
}

.pdd-vertical-md-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mrg-0 {
  margin: 0 !important;
}

.mrg-top-0 {
  margin-bottom: 0 !important;
}

.mrg-top-minus-20px {
  margin-top: -20px;
}

.mrg-top-minus-30px {
  margin-top: -30px;
}

.mrg-btm-0 {
  margin-bottom: 0 !important;
}

.mrg-btm-minus-35px {
  margin-bottom: -35px !important;
}

.mrg-left-0 {
  margin-left: 0 !important;
}

.mrg-right-0 {
  margin-right: 0 !important;
}

.w-250 {
  width: 250px !important;
}

.w-330 {
  width: 330px !important;
}

.width-auto {
  width: auto !important;
}

.width-25px {
  width: 25px !important;
}

.width-30px {
  width: 30px !important;
}

.width-40px {
  width: 40px !important;
}

.width-50px {
  width: 50px !important;
}

.width-60px {
  width: 60px !important;
}

.width-70px {
  width: 70px !important;
}

.width-80px {
  width: 80px !important;
}

.width-90px {
  width: 90px !important;
}

.width-100px {
  width: 100px !important;
}

.width-160px {
  width: 160px !important;
}

.width-200px {
  width: 100px !important;
}

.width-250px {
  width: 250px !important;
}

.width-250 {
  width: 250px !important;
}

.max-width-80 {
  max-width: 80% !important;
}

.min-width-450px {
  min-width: 450px !important;
}

.min-width-992px {
  min-width: 992px !important;
}

.max-width-50px {
  max-width: 50px !important;
}

.max-width-100px {
  max-width: 100px !important;
}

.max-width-150px {
  max-width: 150px !important;
}

.max-width-200px {
  max-width: 200px !important;
}

.max-width-250px {
  max-width: 250px !important;
}

.max-width-300px {
  max-width: 300px !important;
}

.max-width-400px {
  max-width: 400px !important;
}

.max-width-ms {
  max-width: 600px;
}

.max-width-md {
  max-width: 960px;
}

.max-width-lg {
  max-width: 1200px !important;
}

.height-15px {
  height: 15px !important;
}

.height-25px {
  height: 25px !important;
}

.height-30px {
  height: 30px !important;
}

.height-40px {
  height: 40px !important;
}

.height-48px {
  height: 48px;
}

.height-50px {
  height: 50px !important;
}

.height-70vh {
  height: 70vh;
}

.height-100vh-65px {
  height: calc(100vh - 65px);
}

.height-100vh-160px {
  height: calc(100vh - 160px);
}

.height-100vh-180px {
  height: calc(100vh - 180px);
}

.min-height-5px {
  min-height: 5px !important;
}

.min-height-460px {
  min-height: 460px !important;
}

.min-height-130px {
  min-height: 130px !important;
}

.min-height-150px {
  min-height: 150px !important;
}

.min-height-180px {
  min-height: 180px !important;
}

.min-height-200px {
  min-height: 200px !important;
}

.max-height-95 {
  max-height: 95% !important;
}

.max-height-100 {
  max-height: 100% !important;
}

.max-height-200px {
  max-height: 200px !important;
}

.max-height-250px {
  max-height: 250px !important;
}

.max-height-300px {
  max-height: 300px !important;
}

.max-height-450px {
  max-height: 450px !important;
}

.max-height-500px {
  max-height: 500px !important;
}

.max-height-600px {
  max-height: 600px !important;
}

.max-height-60vh {
  max-height: 60vh !important;
}

.max-height-100vh-65px {
  max-height: calc(100vh - 65px);
}

.max-height-100vh-100px {
  max-height: calc(100vh - 100px);
}

.max-height-100vh-180px {
  max-height: calc(100vh - 180px);
}

.top-1 {
  top: 1px !important;
}

.top-2 {
  top: 2px !important;
}

.top-3 {
  top: 3px !important;
}

.top-4 {
  top: 4px !important;
}

.top-5 {
  top: 5px !important;
}

.top-6 {
  top: 6px !important;
}

.top-7 {
  top: 7px !important;
}

.top-8 {
  top: 8px !important;
}

.top-9 {
  top: 9px !important;
}

.top-26 {
  top: 26px !important;
}

.top-45 {
  top: 45px !important;
}

.top-55 {
  top: 55px !important;
}

.top-135 {
  top: 135px !important;
}

.left-1 {
  left: 1px !important;
}

.left-2 {
  left: 2px !important;
}

.left-3 {
  left: 3px !important;
}

.left-4 {
  left: 4px !important;
}

.left-5 {
  left: 5px !important;
}

.left-6 {
  left: 6px !important;
}

.left-7 {
  left: 7px !important;
}

.left-8 {
  left: 8px !important;
}

.left-9 {
  left: 9px !important;
}

.right-0 {
  right: 0px !important;
}

.right-1 {
  right: 1px !important;
}

.right-2 {
  right: 2px !important;
}

.right-3 {
  right: 3px !important;
}

.right-4 {
  right: 4px !important;
}

.right-5 {
  right: 5px !important;
}

.right-6 {
  right: 6px !important;
}

.right-7 {
  right: 7px !important;
}

.right-8 {
  right: 8px !important;
}

.right-9 {
  right: 9px !important;
}

.right-15 {
  right: 15px !important;
}

right-20 {
  right: 20px !important;
}

.right-35 {
  right: 35px !important;
}

.right-100 {
  right: 100px !important;
}

.right-110 {
  right: 110px !important;
}

.right-120 {
  right: 120px !important;
}

.right-130 {
  right: 130px !important;
}

.right-140 {
  right: 140px !important;
}

.right-150 {
  right: 150px !important;
}

.right-280 {
  right: 280px !important;
}

.bottom--2 {
  bottom: -2px;
}

.bottom-1 {
  bottom: 1px !important;
}

.bottom-2 {
  bottom: 2px !important;
}

.bottom-3 {
  bottom: 3px !important;
}

.bottom-4 {
  bottom: 4px !important;
}

.bottom-5 {
  bottom: 5px !important;
}

.bottom-6 {
  bottom: 6px !important;
}

.bottom-7 {
  bottom: 7px !important;
}

.bottom-8 {
  bottom: 8px !important;
}

.bottom-9 {
  bottom: 9px !important;
}

.border-hide {
  border: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.bottom-5 {
  bottom: 5px !important;
}

.bottom-10 {
  bottom: 10px !important;
}

.bottom-15 {
  bottom: 14px !important;
}

.bottom-15 {
  bottom: 15px !important;
}

.bottom-20 {
  bottom: 20px !important;
}

.bottom-30 {
  bottom: 30px !important;
}

.bottom-40 {
  bottom: 40px !important;
}

.bottom-50 {
  bottom: 50px !important;
}

.bottom-60 {
  bottom: 60px !important;
}

.bottom-70 {
  bottom: 70px !important;
}

.bottom-80 {
  bottom: 80px !important;
}

.bottom-90 {
  bottom: 90px !important;
}

.bottom-100 {
  bottom: 100px !important;
}

.left-0 {
  left: 0 !important;
}

.left-5 {
  left: 5px !important;
}

.left-10 {
  left: 10px !important;
}

.left-20 {
  left: 20px !important;
}

.left-30 {
  left: 30px !important;
}

.left-35 {
  left: 35px !important;
}

.left-40 {
  left: 40px !important;
}

.left-50 {
  left: 50px !important;
}

.left-60 {
  left: 60px !important;
}

.left-70 {
  left: 70px !important;
}

.left-80 {
  left: 80px !important;
}

.left-90 {
  left: 90px !important;
}

.left-100 {
  left: 100px !important;
}

.right-0 {
  right: 0 !important;
}

.right-5 {
  right: 5px !important;
}

.right-10 {
  right: 10px !important;
}

.right-20 {
  right: 20px !important;
}

.right-25 {
  right: 25px !important;
}

.right-30 {
  right: 30px !important;
}

.right-40 {
  right: 40px !important;
}

.right-50 {
  right: 50px !important;
}

.right-60 {
  right: 60px !important;
}

.right-70 {
  right: 70px !important;
}

.right-80 {
  right: 80px !important;
}

.right-90 {
  right: 90px !important;
}

.right-100 {
  right: 100px !important;
}

.right-110 {
  right: 110px !important;
}

.right-120 {
  right: 120px !important;
}

.top-0 {
  top: 0 !important;
}

.top-10 {
  top: 10px !important;
}

.top-15 {
  top: 15px !important;
}

.top-20 {
  top: 20px !important;
}

.top-25 {
  top: 25px !important;
}

.top-30 {
  top: 30px !important;
}

.top-40 {
  top: 40px !important;
}

.top-50 {
  top: 50px !important;
}

.top-60 {
  top: 60px !important;
}

.top-65 {
  top: 65px !important;
}

.top-70 {
  top: 70px !important;
}

.top-80 {
  top: 80px !important;
}

.top-90 {
  top: 90px !important;
}

.top-100 {
  top: 100px !important;
}

.top-110 {
  top: 110px !important;
}

.top-120 {
  top: 120px !important;
}

.no-mrg {
  margin: 0 !important;
}

.no-mrg-top {
  margin-top: 0 !important;
}

.no-mrg-btm {
  margin-bottom: 0 !important;
}

.no-mrg-right {
  margin-right: 0 !important;
}

.no-mrg-left {
  margin-left: 0 !important;
}

.no-mrg-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-mrg-horizon {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-35 {
  margin: 35px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-45 {
  margin: 45px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-55 {
  margin: 55px !important;
}

.margin-60 {
  margin: 60px !important;
}

.margin-65 {
  margin: 65px !important;
}

.margin-70 {
  margin: 70px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-80 {
  margin: 80px !important;
}

.margin-85 {
  margin: 85px !important;
}

.margin-90 {
  margin: 90px !important;
}

.margin-95 {
  margin: 95px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-105 {
  margin: 105px !important;
}

.margin-110 {
  margin: 110px !important;
}

.margin-115 {
  margin: 115px !important;
}

.margin-120 {
  margin: 120px !important;
}

.margin-125 {
  margin: 125px !important;
}

.margin-130 {
  margin: 130px !important;
}

.margin-135 {
  margin: 135px !important;
}

.margin-140 {
  margin: 140px !important;
}

.margin-145 {
  margin: 145px !important;
}

.margin-150 {
  margin: 150px !important;
}

.mrg-horizon-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mrg-left-auto {
  margin-left: auto !important;
}

.mrg-right-auto {
  margin-right: auto !important;
}

.mrg-vertical-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mrg-vertical-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mrg-vertical-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mrg-vertical-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mrg-vertical-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mrg-vertical-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mrg-vertical-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mrg-vertical-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mrg-vertical-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mrg-vertical-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.mrg-vertical-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.mrg-vertical-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.mrg-vertical-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.mrg-vertical-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.mrg-vertical-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.mrg-vertical-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.mrg-vertical-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.mrg-vertical-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.mrg-vertical-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.mrg-vertical-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.mrg-vertical-105 {
  margin-top: 105px !important;
  margin-bottom: 105px !important;
}

.mrg-vertical-110 {
  margin-top: 110px !important;
  margin-bottom: 110px !important;
}

.mrg-vertical-115 {
  margin-top: 115px !important;
  margin-bottom: 115px !important;
}

.mrg-vertical-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

.mrg-vertical-125 {
  margin-top: 125px !important;
  margin-bottom: 125px !important;
}

.mrg-vertical-130 {
  margin-top: 130px !important;
  margin-bottom: 130px !important;
}

.mrg-vertical-135 {
  margin-top: 135px !important;
  margin-bottom: 135px !important;
}

.mrg-vertical-140 {
  margin-top: 140px !important;
  margin-bottom: 140px !important;
}

.mrg-vertical-145 {
  margin-top: 145px !important;
  margin-bottom: 145px !important;
}

.mrg-vertical-150 {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}

.mrg-horizon-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mrg-horizon-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mrg-horizon-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mrg-horizon-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mrg-horizon-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.mrg-horizon-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mrg-horizon-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.mrg-horizon-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.mrg-horizon-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.mrg-horizon-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.mrg-horizon-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.mrg-horizon-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.mrg-horizon-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}

.mrg-horizon-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.mrg-horizon-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.mrg-horizon-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.mrg-horizon-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}

.mrg-horizon-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.mrg-horizon-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}

.mrg-horizon-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.mrg-horizon-105 {
  margin-left: 105px !important;
  margin-right: 105px !important;
}

.mrg-horizon-110 {
  margin-left: 110px !important;
  margin-right: 110px !important;
}

.mrg-horizon-115 {
  margin-left: 115px !important;
  margin-right: 115px !important;
}

.mrg-horizon-120 {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.mrg-horizon-125 {
  margin-left: 125px !important;
  margin-right: 125px !important;
}

.mrg-horizon-130 {
  margin-left: 130px !important;
  margin-right: 130px !important;
}

.mrg-horizon-135 {
  margin-left: 135px !important;
  margin-right: 135px !important;
}

.mrg-horizon-140 {
  margin-left: 140px !important;
  margin-right: 140px !important;
}

.mrg-horizon-145 {
  margin-left: 145px !important;
  margin-right: 145px !important;
}

.mrg-horizon-150 {
  margin-left: 150px !important;
  margin-right: 150px !important;
}

.mrg-top-0 {
  margin-top: 0px !important;
}

.mrg-top-5 {
  margin-top: 5px !important;
}

.mrg-top-10 {
  margin-top: 10px !important;
}

.mrg-top-15 {
  margin-top: 15px !important;
}

.mrg-top-20 {
  margin-top: 20px !important;
}

.mrg-top-25 {
  margin-top: 25px !important;
}

.mrg-top-30 {
  margin-top: 30px !important;
}

.mrg-top-35 {
  margin-top: 35px !important;
}

.mrg-top-40 {
  margin-top: 40px !important;
}

.mrg-top-45 {
  margin-top: 45px !important;
}

.mrg-top-50 {
  margin-top: 50px !important;
}

.mrg-top-55 {
  margin-top: 55px !important;
}

.mrg-top-60 {
  margin-top: 60px !important;
}

.mrg-top-65 {
  margin-top: 65px !important;
}

.mrg-top-70 {
  margin-top: 70px !important;
}

.mrg-top-75 {
  margin-top: 75px !important;
}

.mrg-top-80 {
  margin-top: 80px !important;
}

.mrg-top-85 {
  margin-top: 85px !important;
}

.mrg-top-90 {
  margin-top: 90px !important;
}

.mrg-top-95 {
  margin-top: 95px !important;
}

.mrg-top-100 {
  margin-top: 100px !important;
}

.mrg-top-105 {
  margin-top: 105px !important;
}

.mrg-top-110 {
  margin-top: 110px !important;
}

.mrg-top-115 {
  margin-top: 115px !important;
}

.mrg-top-120 {
  margin-top: 120px !important;
}

.mrg-top-125 {
  margin-top: 125px !important;
}

.mrg-top-130 {
  margin-top: 130px !important;
}

.mrg-top-135 {
  margin-top: 135px !important;
}

.mrg-top-140 {
  margin-top: 140px !important;
}

.mrg-top-145 {
  margin-top: 145px !important;
}

.mrg-top-150 {
  margin-top: 150px !important;
}

.mrg-right-0 {
  margin-right: 0px !important;
}

.mrg-right-5 {
  margin-right: 5px !important;
}

.mrg-right-10 {
  margin-right: 10px !important;
}

.mrg-right-15 {
  margin-right: 15px !important;
}

.mrg-right-20 {
  margin-right: 20px !important;
}

.mrg-right-25 {
  margin-right: 25px !important;
}

.mrg-right-30 {
  margin-right: 30px !important;
}

.mrg-right-35 {
  margin-right: 35px !important;
}

.mrg-right-40 {
  margin-right: 40px !important;
}

.mrg-right-45 {
  margin-right: 45px !important;
}

.mrg-right-50 {
  margin-right: 50px !important;
}

.mrg-right-55 {
  margin-right: 55px !important;
}

.mrg-right-60 {
  margin-right: 60px !important;
}

.mrg-right-65 {
  margin-right: 65px !important;
}

.mrg-right-70 {
  margin-right: 70px !important;
}

.mrg-right-75 {
  margin-right: 75px !important;
}

.mrg-right-80 {
  margin-right: 80px !important;
}

.mrg-right-85 {
  margin-right: 85px !important;
}

.mrg-right-90 {
  margin-right: 90px !important;
}

.mrg-right-95 {
  margin-right: 95px !important;
}

.mrg-right-100 {
  margin-right: 100px !important;
}

.mrg-right-105 {
  margin-right: 105px !important;
}

.mrg-right-110 {
  margin-right: 110px !important;
}

.mrg-right-115 {
  margin-right: 115px !important;
}

.mrg-right-120 {
  margin-right: 120px !important;
}

.mrg-right-125 {
  margin-right: 125px !important;
}

.mrg-right-130 {
  margin-right: 130px !important;
}

.mrg-right-135 {
  margin-right: 135px !important;
}

.mrg-right-140 {
  margin-right: 140px !important;
}

.mrg-right-145 {
  margin-right: 145px !important;
}

.mrg-right-150 {
  margin-right: 150px !important;
}

.mrg-btm-0 {
  margin-bottom: 0px !important;
}

.mrg-btm-5 {
  margin-bottom: 5px !important;
}

.mrg-btm-10 {
  margin-bottom: 10px !important;
}

.mrg-btm-15 {
  margin-bottom: 15px !important;
}

.mrg-btm-20 {
  margin-bottom: 20px !important;
}

.mrg-btm-25 {
  margin-bottom: 25px !important;
}

.mrg-btm-30 {
  margin-bottom: 30px !important;
}

.mrg-btm-35 {
  margin-bottom: 35px !important;
}

.mrg-btm-40 {
  margin-bottom: 40px !important;
}

.mrg-btm-45 {
  margin-bottom: 45px !important;
}

.mrg-btm-50 {
  margin-bottom: 50px !important;
}

.mrg-btm-55 {
  margin-bottom: 55px !important;
}

.mrg-btm-60 {
  margin-bottom: 60px !important;
}

.mrg-btm-65 {
  margin-bottom: 65px !important;
}

.mrg-btm-70 {
  margin-bottom: 70px !important;
}

.mrg-btm-75 {
  margin-bottom: 75px !important;
}

.mrg-btm-80 {
  margin-bottom: 80px !important;
}

.mrg-btm-85 {
  margin-bottom: 85px !important;
}

.mrg-btm-90 {
  margin-bottom: 90px !important;
}

.mrg-btm-95 {
  margin-bottom: 95px !important;
}

.mrg-btm-100 {
  margin-bottom: 100px !important;
}

.mrg-btm-105 {
  margin-bottom: 105px !important;
}

.mrg-btm-110 {
  margin-bottom: 110px !important;
}

.mrg-btm-115 {
  margin-bottom: 115px !important;
}

.mrg-btm-120 {
  margin-bottom: 120px !important;
}

.mrg-btm-125 {
  margin-bottom: 125px !important;
}

.mrg-btm-130 {
  margin-bottom: 130px !important;
}

.mrg-btm-135 {
  margin-bottom: 135px !important;
}

.mrg-btm-140 {
  margin-bottom: 140px !important;
}

.mrg-btm-145 {
  margin-bottom: 145px !important;
}

.mrg-btm-150 {
  margin-bottom: 150px !important;
}

.mrg-left-0 {
  margin-left: 0px !important;
}

.mrg-left-5 {
  margin-left: 5px !important;
}

.mrg-left-10 {
  margin-left: 10px !important;
}

.mrg-left-15 {
  margin-left: 15px !important;
}

.mrg-left-20 {
  margin-left: 20px !important;
}

.mrg-left-25 {
  margin-left: 25px !important;
}

.mrg-left-30 {
  margin-left: 30px !important;
}

.mrg-left-35 {
  margin-left: 35px !important;
}

.mrg-left-40 {
  margin-left: 40px !important;
}

.mrg-left-45 {
  margin-left: 45px !important;
}

.mrg-left-50 {
  margin-left: 50px !important;
}

.mrg-left-55 {
  margin-left: 55px !important;
}

.mrg-left-60 {
  margin-left: 60px !important;
}

.mrg-left-65 {
  margin-left: 65px !important;
}

.mrg-left-70 {
  margin-left: 70px !important;
}

.mrg-left-75 {
  margin-left: 75px !important;
}

.mrg-left-80 {
  margin-left: 80px !important;
}

.mrg-left-85 {
  margin-left: 85px !important;
}

.mrg-left-90 {
  margin-left: 90px !important;
}

.mrg-left-95 {
  margin-left: 95px !important;
}

.mrg-left-100 {
  margin-left: 100px !important;
}

.mrg-left-105 {
  margin-left: 105px !important;
}

.mrg-left-110 {
  margin-left: 110px !important;
}

.mrg-left-115 {
  margin-left: 115px !important;
}

.mrg-left-120 {
  margin-left: 120px !important;
}

.mrg-left-125 {
  margin-left: 125px !important;
}

.mrg-left-130 {
  margin-left: 130px !important;
}

.mrg-left-135 {
  margin-left: 135px !important;
}

.mrg-left-140 {
  margin-left: 140px !important;
}

.mrg-left-145 {
  margin-left: 145px !important;
}

.mrg-left-150 {
  margin-left: 150px !important;
}

.no-pdd {
  padding: 0 !important;
}

.no-pdd-top {
  padding-top: 0 !important;
}

.no-pdd-btm {
  padding-bottom: 0 !important;
}

.no-pdd-left {
  padding-left: 0 !important;
}

.no-pdd-right {
  padding-right: 0 !important;
}

.no-pdd-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-pdd-horizon {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-3 {
  padding: 3px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-35 {
  padding: 35px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-45 {
  padding: 45px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-55 {
  padding: 55px !important;
}

.padding-60 {
  padding: 60px !important;
}

.padding-65 {
  padding: 65px !important;
}

.padding-70 {
  padding: 70px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-80 {
  padding: 80px !important;
}

.padding-85 {
  padding: 85px !important;
}

.padding-90 {
  padding: 90px !important;
}

.padding-95 {
  padding: 95px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-105 {
  padding: 105px !important;
}

.padding-110 {
  padding: 110px !important;
}

.padding-115 {
  padding: 115px !important;
}

.padding-120 {
  padding: 120px !important;
}

.padding-125 {
  padding: 125px !important;
}

.padding-130 {
  padding: 130px !important;
}

.padding-135 {
  padding: 135px !important;
}

.padding-140 {
  padding: 140px !important;
}

.padding-145 {
  padding: 145px !important;
}

.padding-150 {
  padding: 150px !important;
}

.pdd-vertical-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pdd-vertical-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pdd-vertical-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pdd-vertical-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pdd-vertical-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pdd-vertical-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pdd-vertical-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.pdd-vertical-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pdd-vertical-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.pdd-vertical-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.pdd-vertical-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.pdd-vertical-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.pdd-vertical-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.pdd-vertical-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.pdd-vertical-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.pdd-vertical-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.pdd-vertical-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.pdd-vertical-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.pdd-vertical-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.pdd-vertical-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.pdd-vertical-105 {
  padding-top: 105px !important;
  padding-bottom: 105px !important;
}

.pdd-vertical-110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important;
}

.pdd-vertical-115 {
  padding-top: 115px !important;
  padding-bottom: 115px !important;
}

.pdd-vertical-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.pdd-vertical-125 {
  padding-top: 125px !important;
  padding-bottom: 125px !important;
}

.pdd-vertical-130 {
  padding-top: 130px !important;
  padding-bottom: 130px !important;
}

.pdd-vertical-135 {
  padding-top: 135px !important;
  padding-bottom: 135px !important;
}

.pdd-vertical-140 {
  padding-top: 140px !important;
  padding-bottom: 140px !important;
}

.pdd-vertical-145 {
  padding-top: 145px !important;
  padding-bottom: 145px !important;
}

.pdd-vertical-150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

.pdd-horizon-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pdd-horizon-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pdd-horizon-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.pdd-horizon-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.pdd-horizon-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.pdd-horizon-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.pdd-horizon-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.pdd-horizon-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.pdd-horizon-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.pdd-horizon-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.pdd-horizon-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.pdd-horizon-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.pdd-horizon-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.pdd-horizon-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.pdd-horizon-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.pdd-horizon-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.pdd-horizon-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.pdd-horizon-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.pdd-horizon-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}

.pdd-horizon-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.pdd-horizon-105 {
  padding-left: 105px !important;
  padding-right: 105px !important;
}

.pdd-horizon-110 {
  padding-left: 110px !important;
  padding-right: 110px !important;
}

.pdd-horizon-115 {
  padding-left: 115px !important;
  padding-right: 115px !important;
}

.pdd-horizon-120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}

.pdd-horizon-125 {
  padding-left: 125px !important;
  padding-right: 125px !important;
}

.pdd-horizon-130 {
  padding-left: 130px !important;
  padding-right: 130px !important;
}

.pdd-horizon-135 {
  padding-left: 135px !important;
  padding-right: 135px !important;
}

.pdd-horizon-140 {
  padding-left: 140px !important;
  padding-right: 140px !important;
}

.pdd-horizon-145 {
  padding-left: 145px !important;
  padding-right: 145px !important;
}

.pdd-horizon-150 {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

.pdd-top-0 {
  padding-top: 0px !important;
}

.pdd-top-5 {
  padding-top: 5px !important;
}

.pdd-top-10 {
  padding-top: 10px !important;
}

.pdd-top-15 {
  padding-top: 15px !important;
}

.pdd-top-20 {
  padding-top: 20px !important;
}

.pdd-top-25 {
  padding-top: 25px !important;
}

.pdd-top-30 {
  padding-top: 30px !important;
}

.pdd-top-35 {
  padding-top: 35px !important;
}

.pdd-top-40 {
  padding-top: 40px !important;
}

.pdd-top-45 {
  padding-top: 45px !important;
}

.pdd-top-50 {
  padding-top: 50px !important;
}

.pdd-top-55 {
  padding-top: 55px !important;
}

.pdd-top-60 {
  padding-top: 60px !important;
}

.pdd-top-65 {
  padding-top: 65px !important;
}

.pdd-top-70 {
  padding-top: 70px !important;
}

.pdd-top-75 {
  padding-top: 75px !important;
}

.pdd-top-80 {
  padding-top: 80px !important;
}

.pdd-top-85 {
  padding-top: 85px !important;
}

.pdd-top-90 {
  padding-top: 90px !important;
}

.pdd-top-95 {
  padding-top: 95px !important;
}

.pdd-top-100 {
  padding-top: 100px !important;
}

.pdd-top-105 {
  padding-top: 105px !important;
}

.pdd-top-110 {
  padding-top: 110px !important;
}

.pdd-top-115 {
  padding-top: 115px !important;
}

.pdd-top-120 {
  padding-top: 120px !important;
}

.pdd-top-125 {
  padding-top: 125px !important;
}

.pdd-top-130 {
  padding-top: 130px !important;
}

.pdd-top-135 {
  padding-top: 135px !important;
}

.pdd-top-140 {
  padding-top: 140px !important;
}

.pdd-top-145 {
  padding-top: 145px !important;
}

.pdd-top-150 {
  padding-top: 150px !important;
}

.pdd-right-0 {
  padding-right: 0px !important;
}

.pdd-right-5 {
  padding-right: 5px !important;
}

.pdd-right-10 {
  padding-right: 10px !important;
}

.pdd-right-15 {
  padding-right: 15px !important;
}

.pdd-right-20 {
  padding-right: 20px !important;
}

.pdd-right-25 {
  padding-right: 25px !important;
}

.pdd-right-30 {
  padding-right: 30px !important;
}

.pdd-right-35 {
  padding-right: 35px !important;
}

.pdd-right-40 {
  padding-right: 40px !important;
}

.pdd-right-45 {
  padding-right: 45px !important;
}

.pdd-right-50 {
  padding-right: 50px !important;
}

.pdd-right-55 {
  margin-right: 55px !important;
}

.pdd-right-60 {
  padding-right: 60px !important;
}

.pdd-right-65 {
  padding-right: 65px !important;
}

.pdd-right-70 {
  padding-right: 70px !important;
}

.pdd-right-75 {
  padding-right: 75px !important;
}

.pdd-right-80 {
  padding-right: 80px !important;
}

.pdd-right-85 {
  padding-right: 85px !important;
}

.pdd-right-90 {
  padding-right: 90px !important;
}

.pdd-right-95 {
  padding-right: 95px !important;
}

.pdd-right-100 {
  padding-right: 100px !important;
}

.pdd-right-105 {
  padding-right: 105px !important;
}

.pdd-right-110 {
  padding-right: 110px !important;
}

.pdd-right-115 {
  padding-right: 115px !important;
}

.pdd-right-120 {
  margin-right: 120px !important;
}

.pdd-right-125 {
  padding-right: 125px !important;
}

.pdd-right-130 {
  padding-right: 130px !important;
}

.pdd-right-135 {
  padding-right: 135px !important;
}

.pdd-right-140 {
  padding-right: 140px !important;
}

.pdd-right-145 {
  padding-right: 145px !important;
}

.pdd-right-150 {
  padding-right: 150px !important;
}

.pdd-left-0 {
  padding-left: 0px !important;
}

.pdd-left-5 {
  padding-left: 5px !important;
}

.pdd-left-10 {
  padding-left: 10px !important;
}

.pdd-left-15 {
  padding-left: 15px !important;
}

.pdd-left-20 {
  padding-left: 20px !important;
}

.pdd-left-25 {
  padding-left: 25px !important;
}

.pdd-left-30 {
  padding-left: 30px !important;
}

.pdd-left-35 {
  padding-left: 35px !important;
}

.pdd-left-40 {
  padding-left: 40px !important;
}

.pdd-left-45 {
  padding-left: 45px !important;
}

.pdd-left-50 {
  padding-left: 50px !important;
}

.pdd-left-55 {
  margin-left: 55px !important;
}

.pdd-left-60 {
  padding-left: 60px !important;
}

.pdd-left-65 {
  padding-left: 65px !important;
}

.pdd-left-70 {
  padding-left: 70px !important;
}

.pdd-left-75 {
  padding-left: 75px !important;
}

.pdd-left-80 {
  padding-left: 80px !important;
}

.pdd-left-85 {
  padding-left: 85px !important;
}

.pdd-left-90 {
  padding-left: 90px !important;
}

.pdd-left-95 {
  padding-left: 95px !important;
}

.pdd-left-100 {
  padding-left: 100px !important;
}

.pdd-left-105 {
  padding-left: 105px !important;
}

.pdd-left-110 {
  padding-left: 110px !important;
}

.pdd-left-115 {
  padding-left: 115px !important;
}

.pdd-left-120 {
  margin-left: 120px !important;
}

.pdd-left-125 {
  padding-left: 125px !important;
}

.pdd-left-130 {
  padding-left: 130px !important;
}

.pdd-left-135 {
  padding-left: 135px !important;
}

.pdd-left-140 {
  padding-left: 140px !important;
}

.pdd-left-145 {
  padding-left: 145px !important;
}

.pdd-left-150 {
  padding-left: 150px !important;
}

.pdd-btm-0 {
  padding-bottom: 0px !important;
}

.pdd-btm-5 {
  padding-bottom: 5px !important;
}

.pdd-btm-10 {
  padding-bottom: 10px !important;
}

.pdd-btm-15 {
  padding-bottom: 15px !important;
}

.pdd-btm-20 {
  padding-bottom: 20px !important;
}

.pdd-btm-25 {
  padding-bottom: 25px !important;
}

.pdd-btm-30 {
  padding-bottom: 30px !important;
}

.pdd-btm-35 {
  padding-bottom: 35px !important;
}

.pdd-btm-40 {
  padding-bottom: 40px !important;
}

.pdd-btm-45 {
  padding-bottom: 45px !important;
}

.pdd-btm-50 {
  padding-bottom: 50px !important;
}

.pdd-btm-55 {
  margin-bottom: 55px !important;
}

.pdd-btm-60 {
  padding-bottom: 60px !important;
}

.pdd-btm-65 {
  padding-bottom: 65px !important;
}

.pdd-btm-70 {
  padding-bottom: 70px !important;
}

.pdd-btm-75 {
  padding-bottom: 75px !important;
}

.pdd-btm-80 {
  padding-bottom: 80px !important;
}

.pdd-btm-85 {
  padding-bottom: 85px !important;
}

.pdd-btm-90 {
  padding-bottom: 90px !important;
}

.pdd-btm-95 {
  padding-bottom: 95px !important;
}

.pdd-btm-100 {
  padding-bottom: 100px !important;
}

.pdd-btm-105 {
  padding-bottom: 105px !important;
}

.pdd-btm-110 {
  padding-bottom: 110px !important;
}

.pdd-btm-115 {
  padding-bottom: 115px !important;
}

.pdd-btm-120 {
  margin-bottom: 120px !important;
}

.pdd-btm-125 {
  padding-bottom: 125px !important;
}

.pdd-btm-130 {
  padding-bottom: 130px !important;
}

.pdd-btm-135 {
  padding-bottom: 135px !important;
}

.pdd-btm-140 {
  padding-bottom: 140px !important;
}

.pdd-btm-145 {
  padding-bottom: 145px !important;
}

.pdd-btm-150 {
  padding-bottom: 150px !important;
}

.width-0 {
  width: 0;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.width-65 {
  width: 65%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.width-85 {
  width: 85%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.height-60 {
  height: 60%;
}

.height-65 {
  height: 65%;
}

.height-70 {
  height: 70%;
}

.height-75 {
  height: 75%;
}

.height-80 {
  height: 80%;
}

.height-85 {
  height: 85%;
}

.height-90 {
  height: 90%;
}

.height-95 {
  height: 95%;
}

.height-100 {
  height: 100%;
}

.full-height {
  min-height: 100vh;
}
