<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%fullRequest%n%n%fullResponse</pattern>
        </encoder>
    </appender>

    <springProfile name="local">
    <appender-ref ref="STDOUT"/>
    </springProfile>
</configuration>