.alert-success-border {
  border-left: 8px solid #4caf50 !important;
}

.alert-warning-border {
  border-left: 8px solid #fb8c00 !important;
}

.alert-info-border {
  border-left: 8px solid #2196f3 !important;
}

.alert-error-border {
  border-left: 8px solid #ff5252 !important;
}

.alert-cyan-border {
  border-left: 8px solid #80deea !important;
  background-color: #eefdff !important;
  color: #006064 !important;
}

.alert-dark-border {
  border-left: 8px solid #333 !important;
  background-color: #eee !important;
  color: #333 !important;
}
